.career-quiz-sample {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.career-quiz-sample .overlap-group-wrapper {
    background: linear-gradient(180deg, rgb(130.69, 180.41, 159.53) 0%, rgb(131.87, 152.34, 181.13) 100%);
    width: 100%;
    height: 632px;
}

.career-quiz-sample .overlap-group {
    background-color: rgba(255, 255, 255, 1);
    position: relative;
    margin: auto;
    width: 95%;
    border-radius: 40px;
    top: 40px;
    height: 552px;
    background-image: url(./img/rectangle-8.svg);
    background-size: 100% 100%;
}

.career-quiz-sample .text-wrapper {
    position: absolute;
    width: 130px;
    top: 39px;
    left: 108px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #7e92a4;
    font-size: 30px;
    letter-spacing: -2.1px;
    line-height: normal;
}

.career-quiz-sample .black-white-simple {
    position: absolute;
    top: 29px;
    left: 50px;
    width: 52px;
    height: 55px;
    object-fit: cover;
}

.career-quiz-sample .x {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 24px;
    left: 1282px;
}

.career-quiz-sample .div {
    position: absolute;
    width: 350px;
    top: 181px;
    left: 944px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: var(--variable-collection-better-blue);
    font-size: 30px;
    text-align: right;
    letter-spacing: -2.1px;
    line-height: normal;
}

.career-quiz-sample .rectangle {
    position: absolute;
    top: 200px;
    left: 50px;
    height: 50px;
    border-radius: 90px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    background-color: var(--green);
    font-size: 30px;
    letter-spacing: -1.8px;
    line-height: normal;
    margin-top: 25px;
    padding: 10px;
}

.career-quiz-sample .text-wrapper-5 {
    position: absolute;
    width: 511px;
    top: 10px;
    left: 325px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: -2.8px;
    line-height: normal;
}

.career-quiz-sample .overlap-2 {
    position: absolute;
    width: 236px;
    height: 76px;
    top: 458px;
    left: 633px;
    border-radius: 40px;
}

.career-quiz-sample .info {
    position: relative;
    padding-top: 285px;
    padding-left: 50px;
}

.career-quiz-sample .text-wrapper-6 {
    position: absolute;
    width: 130px;
    top: 13px;
    left: 92px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: -2.1px;
    line-height: normal;
}

.career-quiz-sample .frame {
    top: 0;
    left: 0;
    display: flex;
    width: 236px;
    height: 76px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: absolute;
    background-color: var(--blue);
    border-radius: 40px;
}

.career-quiz-sample .img {
    position: relative;
    width: 55px;
    height: 55px;
    object-fit: cover;
}

.career-quiz-sample .text-wrapper-7 {
    position: relative;
    width: fit-content;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: -2.1px;
    line-height: normal;
    white-space: nowrap;
}

.career-quiz-sample .overlap-3 {
    position: absolute;
    width: 585px;
    height: 348px;
    top: 345px;
    left: 668px;
}

.career-quiz-sample .UX-designer-jpeg {
    width: 2px;
    height: 1px;
    top: 315px;
    left: 25px;
    position: absolute;
    object-fit: cover;
}

.career-quiz-sample .UX-designer-jpeg-2 {
    width: 585px;
    height: 348px;
    top: 0;
    left: 0;
    position: absolute;
    object-fit: cover;
}

.career-quiz-sample .p {
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #374655;
    font-size: 30px;
    letter-spacing: -2px;
    line-height: normal;
}

.career-quiz-sample .text-wrapper-8 {
    position: absolute;
    width: 507px;
    top: 119px;
    left: 54px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: var(--variable-collection-better-blue);
    font-size: 90px;
    letter-spacing: -6.3px;
    line-height: normal;
    white-space: nowrap;
}

.career-quiz-sample .text-wrapper-9 {
    position: absolute;
    width: 350px;
    top: 136px;
    left: 944px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: var(--variable-collection-better-blue);
    font-size: 30px;
    text-align: right;
    letter-spacing: -2.1px;
    line-height: normal;
}

.career-quiz-sample .frame-2 {
    top: 458px;
    left: 379px;
    display: flex;
    width: 236px;
    height: 76px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: absolute;
    background-color: var(--blue);
    border-radius: 40px;
}