.career-quiz-start {
    background-color: rgb(131.87, 152.34, 181.13);
    background: linear-gradient(180deg, rgb(130.69, 180.41, 159.53) 0%, rgb(131.87, 152.34, 181.13) 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.career-quiz-start .overlap-group {
    position: relative;
    width: 1169px;
    top: 43px;
    left: 33px;
    background-image: url(./img/rectangle-8.svg);
    background-size: 100% 100%;
}

.career-quiz-start .overlap {
    position: absolute;
    background-color: #ffffff;
    top: 20px;
    padding: 20px;
    padding-top: 130px;
    padding-bottom: 70px;
    width: 95%;
    margin: auto;
    border-radius: 12px;
}

.career-quiz-start .text-wrapper {
    position: relative;
    text-align: center;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: var(--variable-collection-better-blue);
    font-size: 110px;
    letter-spacing: -7.7px;
    line-height: normal;
}

.career-quiz-start .frame {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px;
    position: relative;
    margin: auto;
    margin-top: 110px;
    background-color: var(--blue);
    border-radius: 40px;
}

.career-quiz-start .div {
    position: relative;
    width: fit-content;
    font-family: Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 25px;
    letter-spacing: -1.8px;
    line-height: normal;
    white-space: nowrap;
}

.career-quiz-start .text-wrapper-2 {
    position: absolute;
    width: 130px;
    top: 42px;
    left: 86px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #7e92a4;
    font-size: 30px;
    letter-spacing: -2.1px;
    line-height: normal;
}

.career-quiz-start .black-white-simple {
    position: absolute;
    width: 52px;
    height: 55px;
    top: 29px;
    left: 28px;
    object-fit: cover;
}