.career-quiz-start {
    background-color: rgba(255, 255, 255, 1);
    background: linear-gradient(180deg, rgb(130.69, 180.41, 159.53) 0%, rgb(131.87, 152.34, 181.13) 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 1024px;
}

.career-quiz-start .overlap-group-wrapper {
    background-color: rgba(255, 255, 255, 1);
}

.career-quiz-start .overlap-group {
    position: relative;
    width: 1369px;
    height: 928px;
    top: 43px;
    left: 33px;
    background-image: url(./img/rectangle-8.svg);
    background-size: 100% 100%;
}

.career-quiz-start .overlap {
    position: absolute;
    width: 1076px;
    height: 233px;
    top: 346px;
    left: 150px;
}

.career-quiz-start .text-wrapper {
    position: absolute;
    width: 1076px;
    top: 0;
    left: 0;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: var(--variable-collection-better-blue);
    font-size: 110px;
    letter-spacing: -7.7px;
    line-height: normal;
}

.career-quiz-start .frame {
    display: flex;
    width: 371px;
    height: 76px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 157px;
    left: 349px;
    background-color: var(--blue);
    border-radius: 40px;
}

.career-quiz-start .div {
    position: relative;
    width: fit-content;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: -2.8px;
    line-height: normal;
    white-space: nowrap;
}

.career-quiz-start .text-wrapper-2 {
    position: absolute;
    width: 130px;
    top: 42px;
    left: 86px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #7e92a4;
    font-size: 30px;
    letter-spacing: -2.1px;
    line-height: normal;
}

.career-quiz-start .black-white-simple {
    position: absolute;
    width: 52px;
    height: 55px;
    top: 29px;
    left: 28px;
    object-fit: cover;
}

.career-quiz-start .x {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 24px;
    left: 1282px;
}