<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/globals.css" />
    <link rel="stylesheet" href="/static/styleguide.css" />
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/static/aiinterviewerstyle.css" />
</head>

<body>
    <div class="AI-interviewer">
        <div class="overlap-group-wrapper">
            <div class="overlap-group"> <img class="x" src="/static/img/x.png" />
                <div class="overlap"> <img class="group" src="/static/img/group-14.png" /> <img class="send"
                        src="/static/img/send.png" />
                    <div class="text-wrapper">AI interviewer</div>
                    <div class="div">
                        <div class="msg-box">
                            <div class="msg usermsg">Hi I'm looking for job pls</div>
                            <div class="msg aimsg">Hello</div>
                        </div>
                    </div>
                    <img class="line" src="/static/img/line-4.png" />
                </div> <img class="black-white-simple" src="/static/img/star.png" />
            </div>
        </div>
    </div>
</body>

</html>