<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <div class="AI-interviewer">
        <div class="overlap-group-wrapper">
            <div class="overlap-group"> <img class="x" src="img/x.svg" />
                <div class="overlap"> <img class="group" src="img/group-14.png" /> <img class="send"
                        src="img/send.svg" />
                    <div class="text-wrapper">AI interviewer</div>
                    <div class="div"></div> <img class="line" src="img/line-4.svg" />
                </div> <img class="black-white-simple" src="img/black-white-simple-talk-logo-5-2.png" />
            </div>
        </div>
    </div>
</body>

</html>