<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/globals.css" />
    <link rel="stylesheet" href="/static/styleguide.css" />
    <link rel="stylesheet" href="/static/career.css" />
</head>

<body>
    <div class="career-quiz-sample">
        <div class="overlap-group-wrapper">
            <div class="overlap-group">
                <div class="text-wrapper"><a href="/favorites" style="color:#7A97A9;">favorites</a></div>
                <img class="black-white-simple" src="/static/img/star.png" />
                
                <div class="text-wrapper-8">{{ job }}</div>

                <div class="rectangle">{{ category }}</div>
                
                <div class="info">
                    <p class="p">{{ desc }}</p>
                    <p class="p">{{ salary }}</p>
                    <p class="p">{{ degree }}</p>
                </div>
                <div class="overlap-2">
                    <div class="text-wrapper-6">favorite</div>
                    <div class="frame"> <img class="img" src="/static/img/star.png" />
                        <div class="text-wrapper-7">
                            <a href="/careerfavorite">favorite</a>
                        </div>
                    </div>
                </div>
                <div class="frame-2"> <img class="img" src="/static/img/x.png" />
                    <div class="text-wrapper-7">
                        <a href="/careernotforme">not for me</a>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</body>

</html>