<!DOCTYPE html>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
  <h1>Languessr</h1>
  <h3>guess where the language with the following phonemic inventory is spoken:</h2>
  <p>{{ phonemes }}</p>
  <div>
    <button id="reveal" class="btn">Show Answer</button>
    <button class="btn" onclick="window.location.href='/home'">Restart</button>
  </div>
  <!-- jQuery -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
  <script>
    $("#reveal").on('click', function() {
        $(".answer").css("display", "block")
    });
  </script>
  <p class="answer">The correct answer is {{ language }}!</p>
  <p class="answer">It is spoken in {{ location }}.</p>
</body>