<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/static/globals.css" />
  <link rel="stylesheet" href="/static/styleguide.css" />
  <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
  <div class="home-page">
    <div class="div">
      <div class="overlap">
        <p class="getting-job-ready-it">Getting job ready?<br />It’s as easy as 1, 2, 3</p>
        <div class="overlap-group">
          <div class="text-wrapper">our mission</div>
          <div class="text-wrapper-2">language</div>
          <img class="polygon" src="/static/img/polygon-1.svg" />
        </div>
        <div class="overlap-2">
          <div class="text-wrapper-3">company name</div>
          <img class="black-white-simple" src="/static/img/black-white-simple-talk-logo-2-1.png" />
          <img class="img" src="/static/img/black-white-simple-talk-logo-4-1.png" />
        </div>
      </div>
      <div class="overlap-3">
        <div class="text-wrapper-4">1</div>
        <div class="text-wrapper-5">2</div>
        <div class="text-wrapper-6">find your career match</div>
        <p class="swipe-through-our">
          <span class="span">Swipe through our </span>
          <span class="text-wrapper-7">career quiz</span>
          <span class="span"> to find a career you’ll love!</span>
        </p>
        <p class="build-your-resume">
          <span class="span">Build your resume with the help of our </span>
          <span class="text-wrapper-7">resume creator</span>
          <span class="span">.</span>
        </p>
        <div class="text-wrapper-8">build your resume</div>
        <div class="frame">
          <div class="text-wrapper-9">resume creator</div>
        </div>
        <div class="div-wrapper">
          <div class="text-wrapper-9"><a href="/quiz">
              <button type="career quiz"> career quiz</button>
            </a> </div>
        </div>
      </div>
      <div class="text-wrapper-10">3</div>
      <div class="overlap-group-2">
        <p class="p">add mission statement + about, talk about pratham, maybe photos?</p>
        <div class="text-wrapper-11">Our Mission</div>
      </div>
      <div class="overlap-4">
        <p class="speak-with-AI">
          <span class="span">Speak with </span>
          <span class="text-wrapper-7">AI interviewers</span>
          <span class="span"> to prep for your interview.</span>
        </p>
        <div class="text-wrapper-12">practice for your interview</div>
        <div class="frame-2">
          <div class="text-wrapper-9">AI interviewer</div>
        </div>
      </div>
      <img class="rectangle" src="/static/img/rectangle-6.png" />
      <div class="overlap-5">
        <div class="overlap-6">
          <div class="group">
            <div class="text-wrapper-13">contact us</div>
          </div>
          <div class="text-wrapper-14">privacy policy</div>
        </div>
        <div class="overlap-7">
          <p class="text-wrapper-15">a project of © 2024 PRATHAM USA , a 501(c)(3) Organization.</p>
          <img class="pratham-black" src="/static/img/pratham-logo2-black-1.png" />
        </div>
      </div>
    </div>
  </div>
</body>

</html>