<!DOCTYPE html>
<html>
  
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/static/globals.css" />
  <link rel="stylesheet" href="/static/styleguide.css" />
  <link rel="stylesheet" href="/static/career-quiz.css" />
</head>

<body>
  <div class="career-quiz-start">
    <div class="overlap-group-wrapper">
      <div class="overlap-group">
        <div class="overlap">
          <div class="text-wrapper">find your career match</div>
          <button class="frame"><div class="div">get started</div></button>
        </div>
        <div class="text-wrapper-2">favorites</div>
        <img class="black-white-simple" src="/static/img/star.png" />
        <img class="x" src="/static/img/x.png" />
      </div>
    </div>
  </div>
</body>

</html>