<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="resumebuilderstyle.css"/>
  </head>
  <body>
    <div class="resume-builder">
      <div class="overlap-group-wrapper">
        <div class="overlap-group">
          <div class="overlap">
            <div class="div">
              <div class="text-wrapper">resume builder</div>
              <p class="p">Filll out the following fields, press submit, and get your own downloadable resume!</p>
              <div class="text-wrapper-2">Basic Information</div>
              <p class="text-wrapper-3">we do not keep your information</p>
              <div class="input-field">
                <div class="label">Full Name (First Last)</div>
                <div class="input"><div class="value"></div></div>
              </div>
            </div>
            <img class="x" src="img/x.svg" />
            <img class="black-white-simple" src="img/black-white-simple-talk-logo-5-2.png" />
          </div>
          <div class="overlap-2">
            <div class="text-wrapper-4">Education</div>
            <div class="input-field-2">
              <p class="label">Name of Academic Institution (College, University, Secondary School)</p>
              <div class="input"><div class="value"></div></div>
            </div>
          </div>
          <div class="text-wrapper-5">+ add more education</div>
          <div class="text-wrapper-6">+ add more experiences</div>
          <div class="input-field-3">
            <div class="label">Years Attended (ex. 2000-2004)</div>
            <div class="input"><div class="value"></div></div>
          </div>
          <div class="input-field-4">
            <p class="label">Diploma Achieved (Associate’s Degree, BA, ...)</p>
            <div class="input"><div class="value"></div></div>
          </div>
          <div class="overlap-3">
            <div class="text-wrapper-4">Experience</div>
            <div class="input-field-2">
              <div class="label">Name of Company/Organization</div>
              <div class="input"><div class="value"></div></div>
            </div>
          </div>
          <div class="input-field-5">
            <div class="label">Years Worked (ex. 2000-2004)</div>
            <div class="input"><div class="value"></div></div>
          </div>
          <div class="input-field-6">
            <p class="label">2-3 Job Responsibilities (Teaching kids 3-5 years old, Tidying the Workplace)</p>
            <div class="input"><div class="value"></div></div>
          </div>
          <div class="input-field-7">
            <p class="label">3+ Relevant Skills (Microsoft 365, Communication, etc.)</p>
            <div class="input"><div class="value"></div></div>
          </div>
          <div class="text-wrapper-7">Skills</div>
          <div class="input-field-8">
            <div class="label">Current Role</div>
            <div class="input"><div class="value"></div></div>
          </div>
          <div class="input-field-9">
            <div class="label">Email</div>
            <div class="input"><div class="value"></div></div>
          </div>
          <div class="input-field-10">
            <div class="label">Phone Number</div>
            <div class="input"><div class="value"></div></div>
          </div>
          <div class="input-field-11">
            <div class="label">Address</div>
            <div class="input"><div class="value"></div></div>
          </div>
          <div class="frame"><div class="text-wrapper-8">build my resume!</div></div>
        </div>
      </div>
    </div>
  </body>
</html>
