<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <div class="resume-builder">
        <div class="overlap-group-wrapper">
            <div class="overlap-group">
                <div class="overlap">
                    <div class="text-wrapper">favorite</div>
                    <div class="div">favorites</div>
                </div>
                <div class="div-wrapper">
                    <div class="text-wrapper-2">preview</div>
                </div> <img class="x" src="img/x.svg" />
                <div class="frame"> <img class="download" src="img/download.svg" />
                    <div class="text-wrapper-3">download</div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>