<!DOCTYPE html>
<html>
  
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/static/globals.css" />
  <link rel="stylesheet" href="/static/styleguide.css" />
  <link rel="stylesheet" href="/static/career-quiz.css" />
</head>

<body>
  <div class="career-quiz-start">
    <div class="overlap-group">
      <div class="overlap">
        <div class="text-wrapper-2"><a href="/favorites" style="color:#7A97A9;">favorites</a></div>
        <img class="black-white-simple" src="/static/img/star.png" />
        <div class="text-wrapper">find your career match</div>
        <div class="div frame"><a id="start" href="/careerinit">get started</div>
      </div>
    </div>
  </div>
</body>

</html>